.button{
  height: 3.5rem;
  width: 200%;
  background-color: #f00;
  color: #fff;
  border: 0;
  border-radius: 0.5rem;

  a{
    color: var(--white);
    font-size: 1.5rem;
  }


  font-size: 1rem;

  transition: filter 0.99s;

  &[disabled] {
      cursor: not-allowed;
      svg {
          animation: animate 2s infinite;
      }
  }

  &:hover {
    transform: scale(1.01);
  }
}

.title{
  font-weight: bold;
}


@keyframes animate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);

    }
}
