.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    color: var(--white);
    font-size: 3rem;

  }
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
