* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
  --white: #fff;
  --black: #000;

  --background: #1d1d1d;
  --red: #f00
  --green: #008000
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background: var(--background);
}

body, input, textarea, button{
  font: 400 1rem "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: 600;
  cursor: default;


}


p{
  cursor: default;
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}
