.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


 


  h1{
    color: var(--white);
    font-size: 4rem;
    margin-top: 5rem;

  }

  h2{
    color: var(--white);
    font-size: 1.5rem;
  }

  a{
    color: var(--white);
    font-size: 1.5rem;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
  
}

.form{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4rem;
  margin-bottom: 10.7rem;

  p{
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }

  a{
    color: #f00;
    font-size: 1.2rem;

  transition: filter 0.5s;

  &:hover {
    filter: brightness(0.5);
    transform: scale(1.1);
  }





  }
}
