.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  a{
    color: var(--white);
    font-size: 1.5rem;
  }

  h1{
    color: var(--white);
    font-size: 3rem;

  }


  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  select{
    height: 4rem;
    width: 200%;
    margin-bottom: 2rem;
    background: #fff;
    color: #000;
    border: 0;
    border-width: 0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.6rem;
  }

    option{
    color: #000;
      font-size: 1.5rem;
    }
    
}


