.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


 

  a{
    color: var(--white);
    font-size: 1.5rem;
  }

  h1{
    color: var(--white);
    font-size: 4rem;
    margin-top: 5rem;

  }

  h2{
    color: var(--white);
    font-size: 1.5rem;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
}

.form{ 
  margin-bottom: 7rem;
}

