.header {
  display: flex;
  align-items: center;
  height: 5rem;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  

  nav {
    display: flex;
    gap: 4rem;
    justify-content: space-between;

    p {
      color: #fff;
      font-size: 1.1rem;
      font-weight: 500;
      transition: filter 0.99s;

      &:hover {
        color: #f00;
        filter: brightness(0.8);
        transform: scale(1.1);
      }
    }

    


  }

  button{
    background-color: #1d1d1d;
    color: #fff;
    border: 0;
    font-size: 1rem;


    transition: filter 0.99s;

      &:hover {
        filter: brightness(0.8);
        transform: scale(1.2);
      }

  }

  h1{
    cursor: pointer;
    color: #fff;

  }

  p{
    cursor: pointer;
    color: #fff;
  }
}